In [8]:
# Dependencies
from bs4 import BeautifulSoup
import time
import requests
import os
import pandas as pd
from splinter import Browser

In [11]:
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=True)
# URL of NASA Mars News
nasa_url = 'https://mars.nasa.gov/news/'
browser.visit(nasa_url)

In [12]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [13]:
#Find title and paragraph
title = soup.find_all('div', class_='content_title')
para = soup.find_all('div', class_='article_teaser_body')

#Assign 1st title and para to a variable
final_title = title[0].text
final_para = para[0].text

#Print title and paragraph
print(final_title)
print(final_para)

Mars Now
Vast areas of the Martian night sky pulse in ultraviolet light, according to images from NASA’s MAVEN spacecraft. The results are being used to illuminate complex circulation patterns in the Martian atmosphere.

In [14]:
browser.visit('https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars')

In [15]:
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(2)
browser.click_link_by_partial_text('more info')

/Users/conorgleason/Desktop/anaconda3/lib/python3.7/site-packages/splinter/driver/webdriver/__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [16]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

#Find image source
img_results = soup.find_all('figure', class_='lede')
img_path = img_results[0].a['href']
featured_image_url = 'https://www.jpl.nasa.gov' + img_path

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19920_hires.jpg

In [25]:
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=True)
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

In [26]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

weather_tweet = soup.find("div", attrs={"class": "tweet", "data-name": "Mars Weather"})
mars_weather = weather_tweet.find_all("p", "tweet-text").get_text()
print(mars_weather)

AttributeError: 'NoneType' object has no attribute 'find_all'

In [27]:
mars_facts_df = pd.read_html("https://space-facts.com/mars/")[0]
print(mars_df)
mars_facts_df.columns=["Description", "Value"]
mars_facts_df.set_index("Description", inplace=True)
mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers